@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat") url("../fonts/Montserrat_woff2/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat_woff/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat") url("../fonts/Montserrat_woff2/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat_woff/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat") url("../fonts/Montserrat_woff2/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat_woff/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat") url("../fonts/Montserrat_woff2/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat_woff/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: local("Montserrat") url("../fonts/Montserrat_woff2/Montserrat-Italic.woff2") format("woff2"),
        url("../fonts/Montserrat_woff/Montserrat-Italic.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans") url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}
